Cadastrar cursos
<br><br>
<input type="text" [(ngModel)]="nome" placeholder="Digite o nome do curso"/>
<br>
<input type="number" [(ngModel)]="preco" placeholder="Digite o preço do curso"/>
<br>
<input type="number" [(ngModel)]="avaliacao" placeholder="Digite a nota do curso"/>
<br>
<br>
<button (click)="add()">Cadastrar</button>
<br>
<br>
Lista de Cursos
<table>
  <thead>
    <tr>
      <th>Nome</th>
      <th>Preço</th>
      <th>Avaliação</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let curso of cursos ">
      <td>{{curso.nome | lowercase}}</td>
      <td>{{curso.preco | currency: 'BRL': true}}</td>
      <td>{{curso.avaliacao}} estrelas</td>
    </tr>
  </tbody>
</table>